<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    {{#with coupon}}
    <span id="_id">{{_id}}</span>
    <form
      id="edit_coupon_form"
      method="post"
      class="loginBox col-md-6"
      enctype="multipart/form-data"
    >
    <label for="">Title</label>
      <input
        required
        type="text"
        class="w-100 p-2 m-2 form-control"
        name="title"
        placeholder="Title"
        value="{{title}}"
      />
    <label for="">Description</label>
      <input
        required
        type="text"
        class="w-100 p-2 m-2 form-control"
        name="desc"
        placeholder="Description"
        value="{{desc}}"
      />
    <label for="">Discount</label>
      <input
        required
        type="number"
        class="w-100 p-2 m-2 form-control"
        name="discount"
        placeholder="Discount ₹"
        value="{{discount}}"
      />
    <label for="">Minimum Purchase Cost</label>
      <input
        required
        type="number"
        class="w-100 p-2 m-2 form-control"
        name="min_amount"
        placeholder="Min Purchase Cost ₹"
        value="{{min_amount}}"
      />
    <label for="">Coupon Code</label>
      <input
        required
        type="text"
        class="w-100 p-2 m-2 form-control"
        name="coupon_code"
        style="text-transform: uppercase;"
        placeholder="Coupon Code"
        value="{{coupon_code}}"
      />
      <span class="text-danger" id="error"></span>
      <input type="submit" value="Save" class="btn btn-success p-2 m-2 float-end" />
    </form>
    {{/with}}
  </div>
</div>

<script>
    $("#edit_coupon_form").submit(function(e) {
        e.preventDefault();
        let couponId = $("#_id").text();
        $.ajax({
            url : `/admin/coupon/edit/${couponId}`,
            data : $("#edit_coupon_form").serialize(),
            method : "POST",
            success: function(data) {
                location.href = "/admin/coupon"
            },
            error: function (err) {
              //err = jQuery.parseJSON(err.responseText);
              $("#error").text(err.responseJSON);
            }
        })
    })
</script>