<link rel="stylesheet" href="/stylesheets/user/home.css" />
<div
  class="bannerSec container-fluid vh-100 d-flex "
  style="background-image:url('/banners/{{banner.img_name}}.{{banner.img_ext}}');"
>
  <div class="col-sm-9 col-lg-6 my-auto">
    <h1 class="fw-bold fs-48">Order Spices to your door</h1>
    <div class="d-flex" style="height: 3.5rem">
      <div class="col-sm-7 h-100 ms-2 bg-white">
      <form action="/search" class="h-100" method="GET">
        <input
          type="text"
          id="search-input"
          name="search"
          class="form-control m-auto h-100 border border-0"
          placeholder="What you are looking for"
          {{!-- onkeyup="search()" --}}
        />
      </div>
      <div class="col-sm-3 ms-2 bg-white">
        <select
          class="form-select h-100 border border-0"
          aria-label="Category Selection"
        >
          <option selected>Category</option>
          {{#each categories}}
            <option name="category" value="{{this._id}}">{{this.title}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-sm-2 ms-2">

          <button type="submit" class="m-auto fs-5 search_button btn btn-dark w-100 h-100 d-flex justify-content-center" >
            <span class="m-auto">Search</span>
          </button>
        </form>
      </div>
    </div>
    <p class="m-2"><a href="/signin" class="signin">Sign In</a>
      for your recent orders</p>
  </div>
</div>

<section class="bg-white">
  <div class="container mt-5 vh-100 ">
    <div class="row g-3 d-flex">
      {{#each products}}
        <div class="card col-10 col-sm-6 col-md-4 col-lg-3">
          <a href="/product/{{this._id}}" class="h-75">
            <img
              src="https://homelandspices.ml/product_images/{{this._id}}-1.{{this.img_ext}}"
              loading="lazy"
              alt="product image"
              class="img-pro h-100"
            />
          </a>
          <p class="pro-text">{{this.title}}</p>
          <div class="d-flex justify-content-between">
            <span class="pro-price my-auto">From :₹{{this.cd_price}}</span>
            {{#if this.wishlist}}
              <i onclick="removeFromWishlist('{{this._id}}')" id="wish_icon_{{this._id}}" class="fa-solid fa-heart fs-5 me-3 text-danger"></i>
            {{else}}
              <i onclick="addToWishlist('{{this._id}}')" id="wish_icon_{{this._id}}" class="fa-regular fa-heart fs-5 me-3"></i>
            {{/if}}
          </div>
        </div>
      {{/each}}
      {{#unless products}}
        <h1>No Products are available</h1>
      {{/unless}}
    </div>
  </div>
</section>

{{!-- toastr js cdn links  --}}
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


<script>
  
  toastr.options = {
      "progressBar": true,
      "positionClass": "toast-bottom-center",
      "timeOut": "2000",
      "hideDuration": "1",
    }
  function addToWishlist(productId){
    $.ajax({
      url: "/wishlist/add",
      method: "POST",
      data: {
        productId: productId
      },
      success: function(data){
        toastr.success('Successfully added to the Wishlist')
        //window.location.reload();
        $(`#wish_icon_${productId}`).removeClass()
        $(`#wish_icon_${productId}`).addClass("fa-solid fa-heart fs-5 me-3 text-danger")
        $(`#wish_icon_${productId}`).attr("onclick",`removeFromWishlist('${productId}')`);
      },error: function (err) {
        console.log(err);
      }
    })
  }
  function removeFromWishlist(productId) {
    $.ajax({
      type: "POST",
      url: "/wishlist/remove",
      data: {
        productId: productId
      },
      success: function(data) {
        toastr.success('Successfully removed from Wishlist')
        $(`#wish_icon_${productId}`).removeClass()
        $(`#wish_icon_${productId}`).addClass("fa-regular fa-heart fs-5 me-3 ")
        $(`#wish_icon_${productId}`).attr("onclick",`addToWishlist('${productId}')`);
      },
      error: function(data) {
        console.log(data);
      }
    })
  }
  function search () {
    const input = document.querySelector("#search-input");
    const cards = document.getElementsByClassName("card");
    let filter = input.value.toLowerCase();
    for (let i = 0; i < cards.length; i++) {
        let title = cards[i].querySelector(".pro-text")
        if (title.innerText.toLowerCase().indexOf(filter) > -1) {
            console.log(title)
            cards[i].classList.remove("d-none")
        } else {
            cards[i].classList.add("d-none")
        }
    }
}
</script>

