<h1>Order details page</h1>
{{!-- {{#each orders}} --}}
<h1>{{orders.deliveryDetails.name}}</h1>
<h1>{{orders.deliveryDetails.phone}}</h1>

{{#each orders}}
<hr>
{{!-- <h1>{{products}}</h1> --}}
<h1>{{productDetails.title}}</h1>
<h1>{{productDetails.desc}}</h1>
<h1>{{products.quantity}}</h1>
<h1>{{products.total}}</h1>
<h1>{{date}}</h1>
<h1 id="{{products.productId}}">{{products.status}}</h1>
{{#ifEquals products.status "cancelled"}}
<a href="#" class="btn btn-primary" style="opacity: 0.5;">Cancel</a>
{{else}}
<a href="/order/cancel/{{_id}}/{{products.productId}}" class="btn btn-primary"
  onclick="return confirm('Do you sure want to cancel this order?');">Cancel</a>
{{/ifEquals}}
{{!-- <h1>{{products.status}}</h1> --}}
{{/each}}

