<link rel="stylesheet" href="/stylesheets/user/product_detail.css" />
<link rel="stylesheet" href="/stylesheets/button.css">


{{#with product}}
  <div class="row vh-100">
    <div class="outer col-md-6 h-100">
      <div class="padding m-auto h-75 w-75">
        <div class="two-box w-100 h-100 d-flex justify-content-center">
          <div class="box-one w-75 w-md-50 h-75 m-auto" id="img-container">
            <img
              class=" hero-image"
              id="zoom"
              src="/product_images/{{_id}}.{{img_ext}}"
              alt=""
            />

          </div>
        </div>
        <div class="pro-img">
          <div class="small"></div>
          <div class="small"></div>
          <div class="small"></div>
          <div class="small"></div>
          <div class="small"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 h-100 d-flex justify-content-center">
      <div class="w-75 h-50 m-auto">
        <p class="p-name">{{title}}</p>
        <p class="price">₹{{price}}</p>
        <p class="lorem w-50">
          {{desc}}
        </p>
        <div class="buttons mb-3">
          <span class="input-number-decrement">–</span><input required
            class="input-number"
            type="text"
            value="1"
            min="0"
            max="10"
          />
          <span class="input-number-increment">+</span>
          <div onclick="addToCart('{{_id}}')" class="cart btn bg-btn">Add to cart</div>
        </div>
        <span>Free 2-5 days shipping </span><span>• Replacement</span>
        <span>• Refund</span>
      </div>
    </div>
  </div>
{{/with}}
 {{!-- cropper js cdn link --}}
<script src="/javascripts/zoomsl.min.js"></script>
{{!-- toastr cdn links  --}}
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
  $(document).ready(function() {
    $("#zoom").imagezoomsl({});
  });
    function addToCart(productId) {
       toastr.options = {
      "progressBar": true,
      "positionClass": "toast-bottom-center",
      "timeOut": "2000",
      "hideDuration": "1",
    };
    $.ajax({
      type: "POST",
      url: "/cart/add",
      data: {
        productId: productId
      },
      success: function(data) {
        toastr.success('Successfully added to the Cart.');
        //window.location.reload();
      },
      error: function(data) {
        console.log(data);
      }
    });
  }
</script>

<script src="/javascripts/user/count_button.js"></script>