<style>
  .table> :not(:last-child)> :last-child>* {
  border: none !important;
}

.h6-none {
  margin: 0 !important;
}

.nos {
  font-size: 0.625rem;
  font-weight: 500;
}

.search {
  width: 70%;
  border-radius: 0.4rem;
  border: 1px solid #5541db;
}

table {
  display: table;
  border-spacing: 0px 0.2rem;
  border-collapse:
    separate;
}

table .desc,
table .title {
  width: 18%;
}

.table-container {
  width: 100%;
  overflow: scroll;
}
body {
  background-color: var(--white_lilac) !important;
}
</style>
<style>
  @media screen and (max-width: 580px ) {
    .card_container {
      height: 28rem !important;
    }
    .info_card_container {
      margin: 0.4rem 0rem !important;
    }
    .flexible_container {
      padding: 1rem !important;
    }
  }
  @media screen and (min-width: 768px) {
    .chart_container {
      width: 48% !important;
    }
    .super_chart_container {
      padding-right: 5rem !important;
    }
  }
</style>

<section class="container-fluid">
  <h1 class="text-center mb-5">Wallet History</h1>
  <div class="table-container">
    <div class="pe-5 mb-3 flexible_container  mt-4">
      <div class="row ge-5 card_container justify-content-between" style="height: 10rem;">
        <div class="col-12 col-lg-4 col-sm-4  info_card_container mt-4 mt-sm-0"><div style="background-color: #56AAF2;" class="card h-100"><div class="d-flex h-100"><div class="w-50 d-flex flex-column justify-content-center text-white"><i class="fa-solid fa-cart-shopping fs-4 ps-3"></i><span class="ps-3 mt-3 fs-5">Total Credit</span></div>
        <div class="w-50 text-white d-flex flex-column justify-content-center"><span class="m-auto" id="order_count" style="font-size: 4rem;">{{wallet.total_credit}}</span></div></div></div></div>
        <div class="col-12 col-lg-4 col-sm-4  info_card_container mt-4 mt-sm-0"><div style="background-color: #F5A752;" class="card h-100"><div class="d-flex h-100"><div class="w-50 d-flex flex-column justify-content-center text-white"><i class="fa-solid fa-truck fs-4 ps-3"></i><span class="ps-3 mt-3 fs-5">Total Debit</span></div>
        <div class="w-50 text-white d-flex flex-column justify-content-center"><span class="m-auto" id="dispatch_count" style="font-size: 4rem;">{{wallet.total_debit}}</span></div></div></div></div>
        <div class="col-12 col-lg-4 col-sm-4  info_card_container mt-4 mt-sm-0"><div style="background-color: #77CEBB;" class="card h-100"><div class="d-flex h-100"><div class="w-50 d-flex flex-column justify-content-center text-white"><i class="fa-solid fa-user fs-4 ps-3"></i><span class="ps-3 mt-3 fs-5">Current Balance</span></div>
        <div class="w-50 text-white d-flex flex-column justify-content-center"><span class="m-auto" id="user_count" style="font-size: 4rem;">{{wallet.current_balance}}</span></div></div></div></div>
      </div>
    </div>
    <table class="table mt-4 p-4">
      <thead class="bg-white">
        <tr>
          <th scope="col" class="m-auto text-center align-middle">S.no</th>
          {{! <th scope="col" class="m-auto text-center align-middle">Name</th> }}
          <th scope="col" class="m-auto text-center align-middle">Description</th>
          <th scope="col" class="m-auto text-center align-middle">Date</th>
          <th scope="col" class="m-auto text-center align-middle">Discount ₹</th>
        </tr>
      </thead>
      <tbody class="mt-3 m-auto text-center align-middle" id="table">
        {{#each wallet.wallet}}
          <tr class="bg-white" >
            {{#ifCond this.amount '>' '0'}}
            <th class="text-success fw-bolder" scope="row">{{inc @index}}</th>
            <td class="title text-success fw-bolder">{{this.title}}</td>
            <td class="text-success fw-bolder">{{this.date}}</td> 
            <td class="text-success fw-bolder">+ {{this.amount}}</td> 
            {{else}}
            <th class="text-danger fw-bolder" scope="row">{{inc @index}}</th>
            <td class="title text-danger fw-bolder">{{this.title}}</td>
            <td class="text-danger fw-bolder">{{this.date}}</td> 
            <td class="text-danger fw-bolder">{{this.amount}}</td> 
            {{/ifCond}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>

{{!-- Sweet Alert cdn link  --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
